In [27]:
import pandas as pd
import random
chemin = "https://bit.ly/bitcoin-purchases2"
df = pd.read_csv(chemin)

In [28]:
df.head()

                      bitcoin address wire amount       credit card
0  1J9DVMtgvnPv4KGHL2XSzoTSt5cBBL1DXe    £8356.92  3543456448666398
1  1HaiVQbzCTs7t1K1fckYEUi9t8ERBFRR7Q     €311,06  3584615208479876
2  1NGPjXfDScEUSZYajAzCkxaVApTbBHC7jP    €2032,44  6370577480710876
3  15cSYRTbcrxYinxNxk7VbkPLZG8nypdjy6    ¥8155.74  4508652385157398
4  18j2qG1DH9YduJiBiccAq8Ak897G3E4JyZ    £3265.44   374622922103592

In [29]:
df.shape

(1000, 3)

In [30]:
df['wire amount'] = df['wire amount'].str.replace(',','.')
df['devise'] = df['wire amount'].str.get(0)
df['wire amount'] = df['wire amount'].str.slice(1,None)

In [32]:
df['wire amount'] = df['wire amount'].astype('float')

In [36]:
test = "aaaaaaaab"
test[:-1]

'aaaaaaaa'