# Q1
Le KPI veut dire Key Performance Indicator, il permet de visualiser des données pouvant donner des résultats par rapport a une stratégie (taille du panier moyen d'un consommateur...)

# Q2

In [58]:
import pandas as pd
import numpy as np

# Q3

In [59]:
fp = "csv/eval_data.csv"
data = pd.read_csv(fp)

# Q4

In [60]:
data.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,NaN
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,NaN
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

# Q5

In [61]:
data.shape

(4622, 6)

# Q6

In [62]:
data.dtypes

Unnamed: 0             int64
order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

# Q7

In [63]:
data.describe()

        Unnamed: 0     order_id     quantity
count  4622.000000  4622.000000  4622.000000
mean   2310.500000   927.254868     1.075725
std    1334.400802   528.890796     0.410186
min       0.000000     1.000000     1.000000
25%    1155.250000   477.250000     1.000000
50%    2310.500000   926.000000     1.000000
75%    3465.750000  1393.000000     1.000000
max    4621.000000  1834.000000    15.000000

# Q8

4972

# Q9

In [64]:
data.quantity.sum()

4972

# Q10

In [111]:
print(float(data['item_price'][i][1:]))
for i in range(len(data)):
    res += data['quantity'][i].astype('float') * float(data['item_price'][i][1:])
print(res)

TypeError: 'float' object is not subscriptable

# Q11

In [66]:
data.mean()

Unnamed: 0    2310.500000
order_id       927.254868
quantity         1.075725
dtype: float64