In [4]:
import pandas as pd
chemin = "https://bit.ly/felonies-dataset"
df = pd.read_csv(chemin)

In [5]:
df.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [6]:
o = pd.cut(df['Age'],
           bins=[10,14,20,65,100],
           labels=['Child','Ado','Adulte','Senior'])
o.head()

0    Senior
1    Adulte
2    Adulte
3    Adulte
4    Adulte
Name: Age, dtype: category
Categories (4, object): ['Child' < 'Ado' < 'Adulte' < 'Senior']

In [7]:
exo1 = pd.Series(data=[0,1,2,3])

In [8]:
FROM_ZERO = -0.00001
pd.cut(exo1,
       bins=[FROM_ZERO,2,3],
       labels=['A','B'])

0    A
1    A
2    A
3    B
dtype: category
Categories (2, object): ['A' < 'B']

In [12]:
prefix = ['ten','twen','thir','four','fif','six','seven','eigh','nine']
labels = [p+'ties' for p in prefix]
labels

['tenties',
 'twenties',
 'thirties',
 'fourties',
 'fifties',
 'sixties',
 'seventies',
 'eighties',
 'nineties']

In [16]:
df['decade'] = pd.cut(df['Age'],
           bins=[10,20,30,40,50,60,70,80,90,100],
           labels=labels)

In [17]:
df.head()

        Date of Arrest  Age Convicted     decade
0  2014-07-16 14:59:18   77       Yes  seventies
1  2002-12-19 22:17:59   28       Yes   twenties
2  1994-06-28 09:31:40   21        No   twenties
3  1985-05-14 09:52:17   45       Yes   fourties
4  1985-05-25 14:06:28   39       Yes   thirties