In [251]:
import pandas as pd 
import datetime as dt
chemin = "https://bit.ly/felonies-dataset"
data = pd.read_csv(chemin)

In [252]:
data.head()

        Date of Arrest  Age Convicted
0  2014-07-16 14:59:18   77       Yes
1  2002-12-19 22:17:59   28       Yes
2  1994-06-28 09:31:40   21        No
3  1985-05-14 09:52:17   45       Yes
4  1985-05-25 14:06:28   39       Yes

In [253]:
data.shape

(1000, 3)

In [254]:
data.dtypes

Date of Arrest    object
Age                int64
Convicted         object
dtype: object

la methode map de pandas

In [255]:
data['DOA'] = pd.to_datetime(data['Date of Arrest'])
data.drop('Date of Arrest',axis=1)

     Age Convicted                 DOA
0     77       Yes 2014-07-16 14:59:18
1     28       Yes 2002-12-19 22:17:59
2     21        No 1994-06-28 09:31:40
3     45       Yes 1985-05-14 09:52:17
4     39       Yes 1985-05-25 14:06:28
..   ...       ...                 ...
995   72       Yes 1992-02-04 14:24:25
996   68       Yes 1996-04-29 18:03:23
997   87       Yes 1980-07-15 21:59:27
998   27        No 1999-07-05 17:16:12
999   57       Yes 1996-03-17 18:29:25

[1000 rows x 3 columns]

In [256]:
data.dtypes

Date of Arrest            object
Age                        int64
Convicted                 object
DOA               datetime64[ns]
dtype: object

data.DAO.dt.dayofweek

dow2weekTime = {0:'debut', 1:'}

data.DOA.dt.dayofweek.map(dow2weektime)

Liste -> dictionnaire

In [257]:
id2str = ('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday')

In [258]:
str2id = {value:idx for idx, value in enumerate(id2str)}

In [259]:
str2id = {value:idx for idx, value in enumerate(id2str)}
id2str = {value:idx for idx, value in enumerate(id2str)}

In [260]:
data['DOA'].dt.dayofweek.map(str2id)

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
995   NaN
996   NaN
997   NaN
998   NaN
999   NaN
Name: DOA, Length: 1000, dtype: float64

In [261]:
str2id

{'Monday': 0,
 'Tuesday': 1,
 'Wednesday': 2,
 'Thursday': 3,
 'Friday': 4,
 'Saturday': 5,
 'Sunday': 6}

In [262]:
periodesemaine = {'monday': 'DEBUT',
                  'Tuesday': 'DEBUT',
 'Wednesday': 'MILIEU',
 'Thursday': 'MILIEU',
 'friday': 'FIN',
 'saturday': 'FIN',
 'sunday': 'FIN'}

In [263]:
data['DOA'].dt.dayofweek.map(id2str).map(periodesemaine)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
995    NaN
996    NaN
997    NaN
998    NaN
999    NaN
Name: DOA, Length: 1000, dtype: object

In [264]:
data['periode semaine'] = data['DOA'].dt.dayofweek.map(id2str).map(periodesemaine)

In [265]:
data.dtypes

Date of Arrest             object
Age                         int64
Convicted                  object
DOA                datetime64[ns]
periode semaine            object
dtype: object

passer la colonne en type categorie

In [266]:
ordre = ['DEBUT','MILIEU','WEEKEND']

convertir la colonne de category en int(ordinal)

In [267]:
data['periode semaine']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
995    NaN
996    NaN
997    NaN
998    NaN
999    NaN
Name: periode semaine, Length: 1000, dtype: object

gerer les cycles

In [268]:
chemin = "https://bit.ly/felonies-dataset"
data = pd.read_csv(chemin)

data.rename(columns={'Date of Arrest':'DoA'}, inplace=True)
data.dtypes

DoA          object
Age           int64
Convicted    object
dtype: object

In [269]:
data.DoA = pd.to_datetime(data.DoA)

In [270]:
data['DoA'].dt.month.min()

1

In [271]:
data['DoA'].dt.month.max()

12

In [272]:
colonneTemporaire = data['DoA'].dt.month * 100 + data['DoA'].dt.day
colonneTemporaire

0       716
1      1219
2       628
3       514
4       525
       ...
995     204
996     429
997     715
998     705
999     317
Name: DoA, Length: 1000, dtype: int64

In [273]:
avant_janvier = 0 
avant_printemps = 320
avant_ete = 620
avant_automne = 920
avant_Hivers = 1220
finAnne = 1232
bins=[avant_janvier,avant_printemps, avant_ete, avant_automne,avant_Hivers, finAnne]

In [274]:

saisons = pd.cut(colonneTemporaire, 
      bins=bins ,
      labels=['HIVER','PRINTEMPS','ETE','AUTOMNE','HIVER2'])

saisons.head(5)

0          ETE
1      AUTOMNE
2          ETE
3    PRINTEMPS
4    PRINTEMPS
Name: DoA, dtype: category
Categories (5, object): ['HIVER' < 'PRINTEMPS' < 'ETE' < 'AUTOMNE' < 'HIVER2']

In [275]:
saisons =saisons.str.replace('2','')

In [276]:
saisons.unique()

array(['ETE', 'AUTOMNE', 'PRINTEMPS', 'HIVER'], dtype=object)

In [277]:
saisons.head()

0          ETE
1      AUTOMNE
2          ETE
3    PRINTEMPS
4    PRINTEMPS
Name: DoA, dtype: object

In [278]:

saisons = (saisons.astype('category').cat.reorder_categories(['AUTOMNE','HIVER','PRINTEMPS','ETE']).cat.as_ordered())

In [279]:
saisons.head()

0          ETE
1      AUTOMNE
2          ETE
3    PRINTEMPS
4    PRINTEMPS
Name: DoA, dtype: category
Categories (4, object): ['AUTOMNE' < 'HIVER' < 'PRINTEMPS' < 'ETE']

In [280]:
colonneTemporaire = data['DoA'].dt.hour * 100 + data['DoA'].dt.minute
colonneTemporaire

0      1459
1      2217
2       931
3       952
4      1406
       ...
995    1424
996    1803
997    2159
998    1716
999    1829
Name: DoA, Length: 1000, dtype: int64

In [283]:
# heures_debut = [dt.time(22,12),dt.time(3,25),dt.time(16,13)]
# heures_fin = [dt.time(3,24),dt.time(16,12),dt.time(22,11)]
# horaire = ["nuit","jour","soir"]
# colonneTemporaire = [dt.time(23,12),dt.time(12,12),dt.time(9,12),dt.time(16,12),dt.time(0,12)]

debut_journee = -1
avant_nuit = 1332
avant_jour = 205
avant_soir = 973
fin_journee = 2400
bins=[debut_journee,avant_jour,avant_soir,avant_nuit,fin_journee]
heures = pd.cut(colonneTemporaire, 
      bins=bins,
      labels=["NUIT","JOUR","SOIR","NUIT2"])

In [288]:
heures =heures.str.replace('2','')
heures.unique()
heures

0      NUIT
1      NUIT
2      JOUR
3      JOUR
4      NUIT
       ...
995    NUIT
996    NUIT
997    NUIT
998    NUIT
999    NUIT
Name: DoA, Length: 1000, dtype: object