# Merging Data avec Pandas 

Dans la science de donn√©es on a souvent besoin de fusionner des tableaux. On peut le faire avec la fonction `merge()` qui prend comme param√®tres deux `DataFrames` ainsi que les colonnes avec lesquelles r√©aliser les jointures. Cette m√©thode est tr√®s similaire √† SQL sur le principe üî≠

### Importer pandas et les dataset `user_device.csv`, `user_usage.csv` et `android_devices.csv`

In [2]:
import pandas as pd
android_devices = pd.read_csv("csv/android_devices.csv")
user_device = pd.read_csv("csv/user_device.csv")
user_usage = pd.read_csv("csv/user_usage.csv")

### Importer les dataset & renommer la colonne `Branding` du dataset `android_devices.csv`

In [14]:
android_devices.rename(columns={'Retail Branding': 'test'}, inplace=True)
android_devices

             test Marketing Name       Device                      Model
0             NaN            NaN       AD681H  Smartfren Andromax AD681H
1             NaN            NaN        FJL21                      FJL21
2             NaN            NaN          T31              Panasonic T31
3             NaN            NaN     hws7721g         MediaPad 7 Youth 2
4              3Q        OC1020A      OC1020A                    OC1020A
...           ...            ...          ...                        ...
14541       pendo    PNDPP44QC10  PNDPP44QC10                PNDPP44QC10
14542       pendo     PNDPP44QC7   PNDPP44QC7                 PNDPP44QC7
14543  sugar_aums         QPOINT        QPI-1                      QPI-1
14544   tecmobile       OmnisOne     OmnisOne                  Omnis One
14545       ucall          EASY1        EASY1                      EASY1

[14546 rows x 4 columns]

### Afficher les dataset

In [15]:
user_usage

     outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                      21.97                    4.82     1557.33   22787
1                    1710.08                  136.88     7267.55   22788
2                    1710.08                  136.88     7267.55   22789
3                      94.46                   35.17      519.12   22790
4                      71.59                   79.26     1557.33   22792
..                       ...                     ...         ...     ...
235                   260.66                   68.44      896.96   25008
236                    97.12                   36.50     2815.00   25040
237                   355.93                   12.37     6828.09   25046
238                   632.06                  120.46     1453.16   25058
239                   488.70                  906.92     3089.85   25220

[240 rows x 4 columns]

In [17]:
user_device

,use_id,user_id,platform,platform_version,device,use_type_id
0,22782,26980,ios,10.2,"iPhone7,2",2
1,22783,29628,android,6.0,Nexus 5,3
2,22784,28473,android,5.1,SM-G903F,1
3,22785,15200,ios,10.2,"iPhone7,2",3
4,22786,28239,android,6.0,ONE E1003,1
...,...,...,...,...,...,...
267,23049,29725,android,6.0,SM-G900F,1
268,23050,29726,ios,10.2,"iPhone7,2",3
269,23051,29726,ios,10.2,"iPhone7,2",3
270,23052,29727,ios,10.1,"iPhone8,4",3
271,23053,20257,android,5.1,Vodafone Smart ultra 6,1

In [18]:
android_devices

             test Marketing Name       Device                      Model
0             NaN            NaN       AD681H  Smartfren Andromax AD681H
1             NaN            NaN        FJL21                      FJL21
2             NaN            NaN          T31              Panasonic T31
3             NaN            NaN     hws7721g         MediaPad 7 Youth 2
4              3Q        OC1020A      OC1020A                    OC1020A
...           ...            ...          ...                        ...
14541       pendo    PNDPP44QC10  PNDPP44QC10                PNDPP44QC10
14542       pendo     PNDPP44QC7   PNDPP44QC7                 PNDPP44QC7
14543  sugar_aums         QPOINT        QPI-1                      QPI-1
14544   tecmobile       OmnisOne     OmnisOne                  Omnis One
14545       ucall          EASY1        EASY1                      EASY1

[14546 rows x 4 columns]

### Votre premier merge

In [55]:
result=pd.merge(user_usage,user_device[['use_id','platform','device']],on='use_id')
result.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

### Afficher la `shape` de vos dataset ainsi que celle du dataset de sortie 

Que remarquez vous ?

In [41]:
print(user_usage.shape)
print(user_device.shape)
print(result.shape)

(240, 4)
(272, 6)
(159, 6)

### Afficher via `value_counts` les `use_id` pr√©sent dans le nouveau dataset ainsi que ceux non pr√©sent

In [43]:
result.value_counts('use_id')

use_id
23053    1
22876    1
22885    1
22884    1
22883    1
        ..
22968    1
22967    1
22966    1
22965    1
22787    1
Length: 159, dtype: int64

### Le left merge

Afficher la `shape` du dataset `user_usage`, celle du dataset de sortie ainsi que les valeurs manquantes.

In [50]:
user_usage['use_id'].isin(result['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

### Afficher votre dataset

True     159
False     81
Name: use_id, dtype: int64

### Le right merge

Afficher la `shape` du dataset `user_device`, celle du dataset de sortie ainsi que les valeurs manquantes des colonnes `monthly_mb` et `platform`.

user_device dimensions: (272, 6)
result dimensions: (272, 6)
There are 113 missing values in the 'monthly_mb' column in the result.
There are 0 missing values in the 'platform' column in the result.

### Le outer merge example

Afficher les valeurs unique de `use_id` des datasets `user_device` & `user_usage`, celle du dataset de sortie ainsi que les valeurs no manquantes.

There are 353 unique values of use_id in our dataframes.
Outer merge result has (353, 7) rows.
There are 159 rows with no missing values.

### Afficher les lignes `0,1,200,201,350,351`

In [56]:
temp = [0,1,200,201,350,351]
for i in temp:
    print(result.loc[[i]])

outgoing_mins_per_month       21.97
outgoing_sms_per_month         4.82
monthly_mb                  1557.33
use_id                        22787
platform                    android
device                     GT-I9505
Name: 0, dtype: object
outgoing_mins_per_month     1710.08
outgoing_sms_per_month       136.88
monthly_mb                  7267.55
use_id                        22788
platform                    android
device                     SM-G930F
Name: 1, dtype: object

KeyError: 200

### Ajouter les colonnes `device` & `manufacturer`

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

### Afficher les `device` commencant par 'GT'

In [68]:
check = result['device'].str.startswith('GT', na=False)
result[check]

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
9,69.80,14.70,25955.55,22801,android,GT-I9505
11,189.10,24.08,519.12,22805,android,GT-I9195
26,85.97,26.94,407.01,22831,android,GT-I8190N
45,29.54,34.78,33.79,22871,android,GT-I9300
48,249.26,253.22,1557.33,22875,android,GT-I9505
49,249.26,253.22,1557.33,22876,android,GT-I9505
51,83.46,114.06,3114.67,22880,android,GT-I9505
58,16.24,18.82,1557.33,22887,android,GT-I9195
59,125.32,38.53,3114.67,22888,android,GT-I9505
70,143.81,79.38,9005.49,22908,android,GT-I9505
73,392.95,89.48,1557.33,22916,android,GT-I9195
77,142.73,61.34,1557.33,22926,android,GT-I9515
78,142.73,61.34,1557.33,22927,android,GT-I9515
89,61.43,125.51,519.12,22942,android,GT-I9505
90,16.34,91.76,3114.67,22943,android,GT-N7100
91,16.34,91.76,20764.45,22944,android,GT-N7100
97,305.58,159.50,894.58,22955,android,GT-I9300
101,302.11,83.14,1557.33,22965,android,GT-I9505
111,360.86,103.92,3114.67,22977,android,GT-I9505
117,255.47,14.70,1557.33,22985,android,GT-I9515
126,123.20,5.83,10158.50,22997,android,GT-I9505
128,119.80,26.11,803.24,22999,android,GT-I9506

### Afficher le dataset des r√©sultats

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

### Grouper vos donn√©es par `manufacturer`
Compter les `use_id` et afficher les moyennes des colonnes `outgoing_mins_per_month`, `outgoing_sms_per_month`, `monthly_mb`

In [84]:
user_usage['use_id'].isin(result['use_id']).value_counts()

,use_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
manufacturer,,,,
HTC,44,299.842955,93.059318,5144.077955
Huawei,3,81.526667,9.500000,1561.226667
LGE,2,111.530000,12.760000,1557.330000
Lava,2,60.650000,261.900000,12458.670000
Lenovo,2,215.920000,12.930000,1557.330000
Motorola,16,95.127500,65.666250,3946.500000
OnePlus,6,354.855000,48.330000,6575.410000
Samsung,108,191.010093,92.390463,4017.318889
Sony,16,177.315625,40.176250,3212.000625
Vodafone,1,42.750000,46.830000,5191.120000
ZTE,1,42.750000,46.830000,5191.120000