In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
esport = pd.read_csv("csv/HistoricalEsportData.csv",sep=',',encoding="ISO-8859-1")

In [3]:
esport

           Date              Game  Earnings  Players  Tournaments
0      1/1/1998        QuakeWorld   15000.0        8            1
1      5/1/1998          Quake II   14600.0        4            1
2      7/1/1998          Quake II   15000.0        5            1
3      7/1/1998        QuakeWorld    6500.0        4            1
4     11/1/1998          Quake II   36600.0       13            2
...         ...               ...       ...      ...          ...
6210   9/1/2020           Tetr.io     200.0        4            1
6211   9/1/2020          Beat Aim     160.0        7            2
6212   9/1/2020            Tetris     125.0        2            1
6213   9/1/2020  Rivals of Aether      50.0        4            1
6214   9/1/2020      Artifact 2.0      45.0        1            1

[6215 rows x 5 columns]

In [4]:
esport.isnull().sum()

Date           0
Game           0
Earnings       0
Players        0
Tournaments    0
dtype: int64

In [5]:
esport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6215 entries, 0 to 6214
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         6215 non-null   object
 1   Game         6215 non-null   object
 2   Earnings     6215 non-null   float64
 3   Players      6215 non-null   int64
 4   Tournaments  6215 non-null   int64
dtypes: float64(1), int64(2), object(2)
memory usage: 194.3+ KB

In [6]:
esport.describe()

           Earnings      Players  Tournaments
count  6.215000e+03  6215.000000  6215.000000
mean   1.407601e+05    50.310217     6.524859
std    9.577379e+05   115.961782    12.411488
min    0.000000e+00     0.000000     1.000000
25%    1.000000e+03     5.000000     1.000000
50%    8.776800e+03    15.000000     2.000000
75%    5.216008e+04    41.000000     6.000000
max    3.671356e+07  1699.000000   172.000000

In [7]:
esport.Date = esport.Date.str[-4:]
esport.rename(columns={'Date': 'Year'}, inplace=True)
lb = LabelEncoder()
esport.Game = lb.fit_transform(esport.Game)

In [8]:
esport.head()

   Year  Game  Earnings  Players  Tournaments
0  1998   324   15000.0        8            1
1  1998   321   14600.0        4            1
2  1998   321   15000.0        5            1
3  1998   324    6500.0        4            1
4  1998   321   36600.0       13            2

In [9]:
esport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6215 entries, 0 to 6214
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         6215 non-null   object
 1   Game         6215 non-null   int32
 2   Earnings     6215 non-null   float64
 3   Players      6215 non-null   int64
 4   Tournaments  6215 non-null   int64
dtypes: float64(1), int32(1), int64(2), object(1)
memory usage: 194.3+ KB

In [10]:
X = esport[['Year','Game','Players','Tournaments']]
Y = esport[['Earnings']]

In [11]:
X.head()

   Year  Game  Players  Tournaments
0  1998   324        8            1
1  1998   321        4            1
2  1998   321        5            1
3  1998   324        4            1
4  1998   321       13            2

In [12]:
Y.head()

   Earnings
0   15000.0
1   14600.0
2   15000.0
3    6500.0
4   36600.0

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)
len(X_train)

4972

In [15]:
from sklearn.linear_model import LinearRegression
clf = LinearRegression()

In [16]:
clf.fit(X_train,Y_train)

LinearRegression()

In [17]:
clf.predict(X_test.head())

array([[167715.79399752],
       [ 94800.08379072],
       [ 79825.28188494],
       [ 80403.14441998],
       [ -2947.55530068]])

In [18]:
Y_test.head()

      Earnings
5344  35522.28
3763    427.69
855   22658.13
1464  12000.00
1369   1210.00

In [19]:
clf.score(X_test,Y_test)

0.10498419380659074